body {
	margin:0;
	box-sizing: border-box;
	color: white;
	background-color: black;
	padding-top:5rem;
}

header {
	position:fixed;
	top:0;
	margin:auto;
	height:5rem;
	background-color:rgba(255,255,255,0.95);
	color:black;
	width:80%;
	padding:0 10% 0 10%;
	display:flex;
	justify-content:flex-between;
	align-items:center;
}
header a {
	display:inline-block;
	margin:0.5rem;
	color:black;
	text-decoration:none;
}
header a:hover {
	color:white;
	text-decoration:underline overline;
}
h1 {
	color:green;
}

.produits {
	padding-top:5rem;
	padding:1rem;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.produit {
	display:flex;
	flex-direction:column;
	
	background-color:rgba(255,255,255,0.5);
	margin:0.5rem;
	padding:1rem;
	border:2px solid white;
	flex-basis:25%;
}

.produit img {
	width:100%;
}

.produit-detail {
	padding-top:5rem;
	padding:2rem;
	display:flex;	
	justify-content:space-between;
	
}

.produit-detail div{

	flex-basis:40%;
}

.produit-detail img{
	width:100%;
}

.produits_list {
	background-color:rgba(255,255,255,0.1);
	margin:1rem;
	padding:1rem;
	border-radius:0.5rem;
}
.produits_list table thead tr td {
	padding:1rem;
	margin:0.5rem;
	background-color:rgba(255,255,255,0.3);
	text-transform:UpperCase;
}
.produits_list table tr td {
	margin:auto;
	padding:0 1rem 0 1rem;
	background-color:rgba(255,255,255,0.1);
}
.produits_list table tr td img{
	max-width:5rem;
	max-height:5rem;
	
}
.produits_list table tr td a {
	color:white;
	text-decoration:none;
}
.produits_list table tr td a:hover {
	color:rgba(255,255,255,0.8);
	
}